[submodule "posts"]
	path = blogs
	url = https://github.com/intellifactory/blogs
	branch = master
	update = merge
[submodule "legal"]
	path = legal
	url = https://github.com/intellifactory/legal.git
	branch = master
	update = merge
