/.tools
/.vs
/src/Client/bin
/src/Client/obj
/src/Website/.vs
/src/Website/bin
/src/Website/obj
/src/Hosted/css
/src/Hosted/bin
/src/Hosted/obj
/src/Hosted/js
/src/Hosted/css
/src/Hosted/scripts
/src/Hosted/node_modules
/src/Hosted/legal
/build
*.user
/.ionide
*.bak*
*.done
