/**
 *  UkieFont 0.6 - https://font.ukieweb.com
 *  License - https://font.ukieweb.com/license
 */

/* --------------------------
 *         FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'UkieFont';
    src: url('../fonts/UkieFont.eot?olneax');
    src: url('../fonts/UkieFont.eot?olneax#iefix') format('embedded-opentype'), url('../fonts/UkieFont.ttf?olneax') format('truetype'), url('../fonts/UkieFont.woff?olneax') format('woff'), url('../fonts/UkieFont.svg?olneax#UkieFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.uf {
    display: inline-block;
    font: normal normal normal 14px/1 UkieFont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uf-behance:before {
    content: "\e959";
}
.uf-dribbble:before {
    content: "\e95a";
}
.uf-flickr:before {
    content: "\e95b";
}
.uf-foursquare:before {
    content: "\e95c";
}
.uf-gihub:before {
    content: "\e95d";
}
.uf-google:before {
    content: "\e95e";
}
.uf-linkedin:before {
    content: "\e95f";
}
.uf-meetup:before {
    content: "\e960";
}
.uf-odnoklassniki:before {
    content: "\e961";
}
.uf-pinterest:before {
    content: "\e962";
}
.uf-renren:before {
    content: "\e963";
}
.uf-skype:before {
    content: "\e964";
}
.uf-trumblr:before {
    content: "\e965";
}
.uf-twoo:before {
    content: "\e966";
}
.uf-vimeo:before {
    content: "\e967";
}
.uf-vine:before {
    content: "\e968";
}
.uf-vkontakte:before {
    content: "\e969";
}
.uf-whatsapp:before {
    content: "\e96a";
}
.uf-xing:before {
    content: "\e96b";
}
.uf-youtube:before {
    content: "\e96c";
}
.uf-price:before {
    content: "\e96d";
}
.uf-team:before {
    content: "\e96e";
}
.uf-keyboard:before {
    content: "\e96f";
}
.uf-mouse:before {
    content: "\e970";
}
.uf-instagram:before {
    content: "\e957";
}
.uf-dribbble2:before {
    content: "\e958";
}
.uf-code:before {
    content: "\e954";
}
.uf-comment-center-rounded:before {
    content: "\e955";
}
.uf-wrench:before {
    content: "\e956";
}
.uf-camera:before {
    content: "\e94d";
}
.uf-arrow-down-small:before {
    content: "\e94e";
}
.uf-arrow-left-small:before {
    content: "\e94f";
}
.uf-arrow-right-small:before {
    content: "\e950";
}
.uf-arrow-up-small:before {
    content: "\e951";
}
.uf-heart:before {
    content: "\e952";
}
.uf-link-u:before {
    content: "\e953";
}
.uf-eye:before {
    content: "\e935";
}
.uf-loading-circle:before {
    content: "\e936";
}
.uf-shop-cart-u:before {
    content: "\e937";
}
.uf-quote:before {
    content: "\e938";
}
.uf-laptop:before {
    content: "\e939";
}
.uf-copy:before {
    content: "\e93a";
}
.uf-clock:before {
    content: "\e93b";
}
.uf-bulb:before {
    content: "\e93c";
}
.uf-trash:before {
    content: "\e93d";
}
.uf-location-arrow:before {
    content: "\e93e";
}
.uf-folder-open:before {
    content: "\e93f";
}
.uf-flag:before {
    content: "\e940";
}
.uf-flag-angle:before {
    content: "\e941";
}
.uf-folder:before {
    content: "\e942";
}
.uf-desktop:before {
    content: "\e943";
}
.uf-user:before {
    content: "\e944";
}
.uf-align-center:before {
    content: "\e945";
}
.uf-align-justify:before {
    content: "\e946";
}
.uf-align-left:before {
    content: "\e947";
}
.uf-align-right:before {
    content: "\e948";
}
.uf-comment-center:before {
    content: "\e949";
}
.uf-comment-center-dots:before {
    content: "\e94a";
}
.uf-comment:before {
    content: "\e94b";
}
.uf-comment-dots:before {
    content: "\e94c";
}
.uf-file:before {
    content: "\e91a";
}
.uf-file-text:before {
    content: "\e91b";
}
.uf-basket:before {
    content: "\e91c";
}
.uf-pencil-tilted:before {
    content: "\e91d";
}
.uf-shopping-basket:before {
    content: "\e91e";
}
.uf-gear:before {
    content: "\e91f";
}
.uf-case:before {
    content: "\e920";
}
.uf-dots:before {
    content: "\e921";
}
.uf-search-minus:before {
    content: "\e922";
}
.uf-search-plus:before {
    content: "\e923";
}
.uf-check-circle:before {
    content: "\e924";
}
.uf-check-small:before {
    content: "\e925";
}
.uf-close-circle:before {
    content: "\e926";
}
.uf-arrow-down-circle:before {
    content: "\e927";
}
.uf-arrow-left-circle:before {
    content: "\e928";
}
.uf-arrow-right-circle:before {
    content: "\e929";
}
.uf-arrow-up-circle:before {
    content: "\e92a";
}
.uf-arrow-angle-down-small:before {
    content: "\e92b";
}
.uf-arrow-angle-left-small:before {
    content: "\e92c";
}
.uf-arrow-angle-right-small:before {
    content: "\e92d";
}
.uf-arrow-angle-up-small:before {
    content: "\e92e";
}
.uf-close-small:before {
    content: "\e92f";
}
.uf-arrow-angle-down:before {
    content: "\e930";
}
.uf-arrow-angle-left:before {
    content: "\e931";
}
.uf-arrow-angle-right:before {
    content: "\e932";
}
.uf-arrow-angle-up:before {
    content: "\e933";
}
.uf-phone-tube-rounded:before {
    content: "\e934";
}
.uf-circle-big:before {
    content: "\e905";
}
.uf-circle-small:before {
    content: "\e917";
}
.uf-search-big:before {
    content: "\e906";
}
.uf-circle-dot:before {
    content: "\e919";
}
.uf-arrow-down:before {
    content: "\e900";
}
.uf-google-plus:before {
    content: "\e90b";
}
.uf-arrow-left:before {
    content: "\e901";
}
.uf-arrow-right:before {
    content: "\e902";
}
.uf-arrows-alt:before {
    content: "\e903";
}
.uf-arrow-up:before {
    content: "\e904";
}
.uf-check:before {
    content: "\e907";
}
.uf-close:before {
    content: "\e908";
}
.uf-download:before {
    content: "\e909";
}
.uf-facebook:before {
    content: "\e90a";
}
.uf-link:before {
    content: "\e90c";
}
.uf-location:before {
    content: "\e90d";
}
.uf-mail:before {
    content: "\e90e";
}
.uf-mail-open:before {
    content: "\e90f";
}
.uf-menu:before {
    content: "\e910";
}
.uf-pencil:before {
    content: "\e911";
}
.uf-phone:before {
    content: "\e912";
}
.uf-phone-tube-left:before {
    content: "\e913";
}
.uf-phone-tube-right:before {
    content: "\e914";
}
.uf-search:before {
    content: "\e915";
}
.uf-shop-cart:before {
    content: "\e916";
}
.uf-twitter:before {
    content: "\e918";
}
.uf-paper-airplane:before {
    content: "\e972";
}
.uf-copyright:before {
    content: "\e971";
}