table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.tabs {
	display: flex !important;
	flex-wrap: wrap !important;
}

.tabs div {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px transparent solid;
	transition: all .5s;
}

.tabs div a {
	color: white;
	display: block;
	position: relative;
	text-decoration: none;
	border-radius: 15px;
	cursor: pointer;
	transition: all .5s;
	background-color: rgb(71, 178, 228);
	padding: 0.25em 0.75em
}

.blog-tag {
	text-transform: uppercase;
	font-size: 0.75em;
	text-align: center;
	z-index: 1;
	display: inline-block;
	position: relative;
	line-height: 1;
}

.blog-tag:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: lightblue;
	z-index: -1;
}

.flat-card {
	width: 100%;
	padding: 8px;
	transition: all 0.3s;
}

	.flat-card .flat-card-content {
		background-color: white;
		/*		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);*/
	}

.blog-meta, .blog-title {
	text-align: center;
}

.masonry-item {
	width: 100%;
}

.tag-holder {
	text-align: center;
}

.blog-tag.orange:after {
	background-color: orange;
}

.section-header {
	display: flex;
	align-items: center;
}

.section-header hr {
	flex: 1;
	margin-left: 1em;
}

.menu-inner-image li a span {
	margin-top: 10px;
	margin-bottom: unset;
}

@media (min-width: 576px) {
    .masonry-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .masonry-item {
        width: 33%;
    }
}

.pagination .prev, .pagination .next {
	display: list-item !important;
}

.blog-title h3 {
	cursor: pointer;
	display: inline
}

.blog-title a:hover {
	color: rgb(71, 178, 228)
}

.blog-title a {
	color: black;
	text-decoration: none;
	transition: color 1s;
}

.blog-title h3 + a {
	margin-left: 0.25em;
}

.blog-title h3 a:hover {
	text-decoration: none;
}

.popup-image {
	overflow: hidden;
	position: relative;
	display: flex;
}

.popup-image img {
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, 0%);
	position: relative;
	left: 50%;
	top: 50%;
	opacity: 25%;
	transition: all 1s;
}

.flat-card:hover .popup-image img {
	transform: translate(-50%, 0%) scale(1.25);
	opacity: 100%;
}

.flat-card:hover {
	margin-top: -10px;
}

.trainings-map .inner-map {
    height: 500px;
    width: 100%;
}

#image-slider {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    height: 250px;
}

#image-slider .swiper-container {
    width: 100%;
    height: 100%;
}

#image-slider .swiper-wrapper {
    margin-bottom: 0;
}

#image-slider .swiper-slide {
    text-align: center;
    width: auto;
}

#image-slider .swiper-slide img {
    width: auto;
    height: 250px;
}

nav.menu-transparent:not(.scroll-menu) :not(.mega-dropdown) .menu-cnt > ul > li > a {
	color: rgb(71, 178, 228) !important;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
    margin-top: 45px;
}

body > nav .menu-brand {
	padding-top: 4px;
	padding-bottom: 4px;
}

.menu-brand a {
	display: flex;
	align-items: center;
}

.menu-brand a span {
	margin-left: 8px;
	font-size: 1.25em;
}

li pre {
	margin: 0;
}

li pre code {
    padding: 0 !important;
}

blockquote {
	background-color: rgb(241, 245, 247);
	border-left: 4px rgb(55, 81, 126) solid; 
	font-size: 21px;
	line-height: 1.6;
}
  
blockquote {
	padding: 10px 20px;
	margin-left: 0;
	position: relative;
	padding-left: 50px;
}

blockquote:before {
	content: "\65";
	font-family: "Icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	text-transform: none;
	position: absolute;
	margin-left: -30px;
}

li > p:last-child, li > ul:last-child, li > ol:last-child, li > pre:last-child, li > div:last-child {
    margin-bottom: 1em;
}

li > pre:not(:first-child) {
    margin-top: 1em;
    margin-bottom: 1em;
}

.success-box.visible {
	display: block !important;
}

.error-box.visible {
	display: block !important;
}


.mega-open-source .panel {
	display: flex;
}

.mega-open-source .description {
	color: black;
	text-align: left;
}

.mega-open-source img {
	text-align: left;
	display: block;
}

/* BEGIN: COOKIE BANNER */
#cookie-banner {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202020;
  color: white;
  display: none;
  flex-direction: row;
  align-items: center;
}

#cookie-banner > p {
  flex: 1;
}

#cookie-banner a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

#cookie-banner > * {
  margin: 10px;
}

#cookie-banner button {
  box-shadow: none;
  padding: 5px 12px;
  color: #363636;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: white;
  font-size: 16px;
}

#cookie-banner button + button {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  #cookie-banner {
    flex-direction: column;
  }
}
/* END: COOKIE BANNER */

.legal-header+.section-base .container {
	padding-top: 0;
}

.legal-header .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Long text blocks (``` ... ```) - use a H scrollbar */
pre:not(.hljs) {
    overflow-x: auto;
}

/* Blog author list */
.menu-inner-vertical.authors ul li {
	border-top: 1px solid #bbb;
}
	.menu-inner-vertical.authors ul li a {
		color: rgb(71, 178, 228);
	}

		.menu-inner-vertical.authors ul li a img {
			vertical-align: text-bottom;
		}

#signUp:not(.loading) .fa-spin {
	display: none;
}

#signUp.loading span {
	display: none;
}

.icon-social a i {
	transform: translateX(-50%) translateY(-50%);
}

.social-colors.icon-links-button .vimeo:not(:hover), .social-colors-hover.icon-links-button .vimeo:hover,
.social-colors.icon-links-grid .vimeo:not(:hover), .social-colors-hover.icon-links-grid .vimeo:hover {
    background-color: #464646;
    border-color: #464646;
    color: #FFF;
}
