$family-monospace: 'Roboto Mono',monospace;
$menu-item-hover-background-color: transparent;

// Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/grid/columns.sass";

// Fonts
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";

// App
@import "navbar.scss";
@import "drawer.scss";
@import "home.scss";
@import "footer.scss";
@import "content-page.scss";

html {
  font-size: 20px;
}

body {
  font-family: 'Roboto',sans-serif;
  color: #222;
}

pre, code {
  font-family: $family-monospace;
}
