$family-monospace: 'Roboto Mono',monospace;
$menu-item-hover-background-color: transparent;

// Basic customizations
$tag-radius: 20px;
$card-shadow: none;

// Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/level.sass";
@import "./node_modules/bulma/sass/components/menu.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/components/panel.sass";
@import "./node_modules/bulma/sass/components/breadcrumb.sass";
@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/content.sass";
@import "./node_modules/bulma/sass/elements/icon.sass";
@import "./node_modules/bulma/sass/elements/tag.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";
@import "./node_modules/bulma/sass/grid/columns.sass";

// Fonts
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";

// App
@import "navbar.scss";
@import "drawer.scss";
@import "home.scss";
@import "footer.scss";
@import "content-page.scss";

html {
  font-size: 20px;
}

body {
  font-family: 'Roboto',sans-serif;
  color: #222;
}

pre, code {
  font-family: $family-monospace;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  grid-gap: 0.5em;
}

.card{
  height: max-content;
}
