$family-monospace: 'Roboto Mono',monospace;
$menu-item-hover-background-color: transparent;

// Basic customizations
$tag-radius: 20px;
$card-shadow: none;

// Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/panel.sass";
@import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/grid/columns.sass";

// Fonts
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";

// App
@import "navbar.scss";
@import "drawer.scss";
@import "home.scss";
@import "footer.scss";
@import "content-page.scss";

html {
  font-size: 20px;
}

body {
  font-family: 'Roboto',sans-serif;
  color: #222;
}

pre, code {
  font-family: $family-monospace;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  grid-gap: 0.5em;
}

.card{
  height: max-content;
}

nav.navbar-start .navbar-item:first-child {
    border-right: 2px solid #777;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    background: transparent;
}

$break-column-1: 510px;
$break-column-2: 810px;
$break-column-3: 1010px;

.masonry-item {
    width: 100%;

    @media screen and (min-width: $break-column-1) {
        width: 50%;
    }

    @media screen and (min-width: $break-column-2) {
        width: 33%;
    }

    @media screen and (min-width: $break-column-3) {
        width: 25%;
    }
