/*

===================================================================
CONTENT BOX - CONTENT-BOX.CSS
===================================================================
Table of contents

 - Contact form
 - Date picker

-------------------------------------------------------------------

# CONTACT FORM
===================================================================

*/

.form-ajax .success-box, .form-ajax .error-box {
    display: none;
    margin-top: 20px;
}

.form-ajax-wp.label-visible {
    margin-top: -10px;
}

.form-box > .space.xs {
    height: 12px;
}

.form-box.text-center input, .form-box.text-center textarea, .form-box.text-center select {
    text-align: center;
}

.form-box p {
    margin: 0 0 10px 0;
}

.form-box textarea, .form-box select, .form-box input {
    margin: 0 0 20px 0;
    transition: all .5s;
}

form.form-box textarea {
    height: 100px;
}

.form-inline hr {
    display: none;
}

.form-inline .btn {
    white-space: nowrap;
    width: 100%;
}

.form-inline textarea, .form-inline select, .form-inline input {
    margin-bottom: 0;
}

.form-box:not(.form-inline) .g-recaptcha {
    margin-bottom: 15px;
}

.form-box .cf-loader {
    height: 25px;
    margin-left: 10px;
    display: none;
}

.form-box .form-checkbox {
    margin: -5px 0 30px 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
}

.form-box.form-inline .form-checkbox {
    margin-bottom: 0;
}

.form-box.form-inline .form-checkbox {
    margin-bottom: 0;
    margin-top: 20px;
}

.form-box .form-checkbox input {
    width: 15px;
    height: 15px;
    margin: 0;
}

.form-box .form-checkbox label {
    float: left;
    width: calc(100% - 40px);
    margin-left: 15px;
    font-weight: normal;
}

.form-box .form-checkbox + button, .form-box .form-checkbox + input {
    margin-top: 15px;
}

.form-box.align-center .form-checkbox label {
    float: none;
    width: auto;
}

.form-box.align-center .form-checkbox {
    justify-content: center;
}

.error-box, .success-box {
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 13px;
}

.error-box {
    background: #a72a2a;
}

.success-box {
    background: #2aa768;
}

/*

# DATE PICKER
===================================================================

*/

.datepicker-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 210px;
    font-size: 12px;
    line-height: 30px;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    direction: ltr !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.datepicker-container:before,
.datepicker-container:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: " ";
    border: 5px solid transparent;
}

.datepicker-dropdown {
    position: absolute;
    z-index: 9 !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 3px 6px #ccc;
    box-shadow: 0 3px 6px #ccc;
}

.datepicker-inline {
    position: static;
}

.datepicker-top-left,
.datepicker-top-right {
    border-top-color: #379cf4;
}

.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after {
    top: -5px;
    left: 10px;
    border-top: 0;
}

.datepicker-top-left:before,
.datepicker-top-right:before {
    border-bottom-color: #379cf4;
}

.datepicker-top-left:after,
.datepicker-top-right:after {
    top: -4px;
    border-bottom-color: #fff;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
    border-bottom-color: #379cf4;
}

.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
    bottom: -5px;
    left: 10px;
    border-bottom: 0;
}

.datepicker-bottom-left:before,
.datepicker-bottom-right:before {
    border-top-color: #379cf4;
}

.datepicker-bottom-left:after,
.datepicker-bottom-right:after {
    bottom: -4px;
    border-top-color: #fff;
}

.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
    right: 10px;
    left: auto;
}

.datepicker-panel > ul:before,
.datepicker-panel > ul:after {
    display: table;
    content: " ";
}

.datepicker-panel > ul:after {
    clear: both;
}

.datepicker-panel > ul {
    width: 102%;
    padding: 0;
    margin: 0;
}

.datepicker-panel > ul > li {
    float: left;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    cursor: pointer;
    background-color: #fff;
}

.datepicker-panel > ul > li:hover {
    background-color: #eee;
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
    color: #999;
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
    color: #379cf4;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
    color: #ccc;
    cursor: default;
    background-color: #fff;
}

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
    font-size: 18px;
}

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
    width: 150px;
}

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
    width: 52.5px;
    height: 52.5px;
    line-height: 52.5px;
}

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
    cursor: default;
    background-color: #fff;
}

.datepicker-hide {
    display: none;
}

/*

# RESPONSIVE
===================================================================

*/

@media (max-width: 991.98px) {
    .form-box:not(.form-inline) [class*=col-lg-] + [class*=col-lg-] {
        margin-top: 0 !important;
    }

    form.form-inline .btn {
        margin-left: 0;
        width: 100%;
    }

    .form-inline p:empty {
        display: none;
    }

    .form-inline p:empty + .btn {
        margin-top: 0;
    }
}

@media (max-width: 575.98px) {
    .form-box .form-checkbox input {
        width: 20px;
        height: 20px;
    }

    .form-box.align-center .form-checkbox label {
        text-align: left;
    }
}
