<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countdown | Components | Themekit</title>
    <meta name="description" content="Various HTML components for build modern HTML websites.">
    <script src="../../themekit/scripts/jquery.min.js"></script>
    <script src="../../themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="../../themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../themekit/css/style.css">
    <link rel="stylesheet" href="../../themekit/css/content-box.css">
    <link rel="stylesheet" href="../../skin.css">
    <link rel="icon" href="../../media/favicon.png">
</head>
<body class="template-docs">
    <div id="preloader"></div>
    <nav class="menu-classic menu-transparent menu-fixed align-right" data-menu-anima="fade-bottom">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default" src="../../media/logo-dark.svg" alt="logo" />
                    <img class="logo-retina" src="../../media/logo-dark.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul>
                    <li class="dropdown">
                        <a href="#">Sites</a>
                        <ul>
                            <li><a href="../../index-saas.html">Saas</a></li>
                            <li><a href="../../index-fintech.html">Fintech</a></li>
                            <li><a href="../../index-sport.html">Sport</a></li>
                            <li><a href="../../index-food.html">Food</a></li>
                            <li><a href="../../index-chat.html">Chat</a></li>
                            <li><a href="../../index-music.html">Music</a></li>
                            <li><a href="../../index-photo.html">Photo</a></li>
                            <li><a href="../../index-travel.html">Travel</a></li>
                            <li><a href="../../index-news.html">News</a></li>
                            <li><a href="../../index.html">Intro</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages</a>
                        <ul>
                            <li><a href="../../about.html">About</a></li>
                            <li><a href="../../careers.html">Careers</a></li>
                            <li><a href="../../faq.html">Faqs</a></li>
                            <li><a href="../../customers.html">Success stories</a></li>
                            <li><a href="../../pricing-1.html">Pricing one</a></li>
                            <li><a href="../../pricing-2.html">Pricing two</a></li>
                            <li><a href="../../team.html">Team</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Blog</a>
                        <ul>
                            <li><a href="../../blog-1.html">Blog one</a></li>
                            <li><a href="../../blog-2.html">Blog two</a></li>
                            <li><a href="../../post.html">Post</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Contacts</a>
                        <ul>
                            <li><a href="../../contacts-1.html">Contacts one</a></li>
                            <li><a href="../../contacts-2.html">Contacts two</a></li>
                            <li><a href="../../contacts-3.html">Contacts three</a></li>
                        </ul>
                    </li>
                    <li class="mega-dropdown mega-tabs">
                        <a href="#">Elements</a>
                        <div class="mega-menu">
                            <div class="tab-box" data-tab-anima="fade-in">
                                <ul class="tab-nav">
                                    <li class="active"><a href="#">Components</a></li>
                                    <li><a href="#">Containers and sections</a></li>
                                    <li><a href="#">Navigation and headers</a></li>
                                </ul>
                                <div class="panel active">
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/components/buttons.html">Buttons and inputs</a></li>
                                            <li><a href="../../elements/components/contact-form.html">Contact form</a></li>
                                            <li><a href="../../elements/components/content-box.html">Content box</a></li>
                                            <li><a href="../../elements/components/countdown.html">Countdown</a></li>
                                            <li><a href="../../elements/components/counter.html">Counter</a></li>
                                            <li><a href="../../elements/components/icons.html">Icons</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/components/image-box.html">Image box</a></li>
                                            <li><a href="../../elements/components/inner-menu.html">Inner menu</a></li>
                                            <li><a href="../../elements/components/lists.html">Lists</a></li>
                                            <li><a href="../../elements/components/map.html">Map</a></li>
                                            <li><a href="../../elements/components/media-box.html">Media box</a></li>
                                            <li><a href="../../elements/components/progress-bar.html">Progress bar</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/components/social.html">Social</a></li>
                                            <li><a href="../../elements/components/table.html">Table</a></li>
                                            <li><a href="../../elements/components/timeline.html">Timeline</a></li>
                                            <li><a href="../../elements/components/typography.html">Typography</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/containers/accordion.html">Accordion</a></li>
                                            <li><a href="../../elements/containers/album.html">Album</a></li>
                                            <li><a href="../../elements/containers/collapse.html">Collapse</a></li>
                                            <li><a href="../../elements/containers/fixed-area.html">Fixed area</a></li>
                                            <li><a href="../../elements/containers/grid.html">Grid</a></li>
                                            <li><a href="../../elements/containers/lightbox.html">Lightbox</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/containers/masonry.html">Masonry</a></li>
                                            <li><a href="../../elements/containers/scroll-box.html">Scroll box</a></li>
                                            <li><a href="../../elements/containers/slider.html">Slider</a></li>
                                            <li><a href="../../elements/containers/steps.html">Steps</a></li>
                                            <li><a href="../../elements/containers/tab.html">Tab</a></li>
                                            <li><a href="../../elements/sections/base.html">Section base</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/sections/image.html">Section image</a></li>
                                            <li><a href="../../elements/sections/slider.html">Section slider</a></li>
                                            <li><a href="../../elements/sections/video.html">Section video</a></li>
                                            <li><a href="../../elements/sections/block.html">Section block</a></li>
                                            <li><a href="../../elements/sections/map.html">Section map</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/navs/big-box.html">Big box</a></li>
                                            <li><a href="../../elements/navs/classic.html">Classic</a></li>
                                            <li><a href="../../elements/navs/classic-transparent.html">Transparent</a></li>
                                            <li><a href="../../elements/navs/icon.html">Icon</a></li>
                                            <li><a href="../../elements/navs/icon-top.html">Icon top</a></li>
                                            <li><a href="../../elements/navs/side.html">Side</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/navs/side-collapse.html">Side collapse</a></li>
                                            <li><a href="../../elements/navs/subtitle.html">Subtitle</a></li>
                                            <li><a href="../../elements/navs/top-logo.html">Top logo</a></li>
                                            <li><a href="../../elements/navs/classic-dropdown.html">Dropdown types</a></li>
                                            <li><a href="../../elements/headers/image.html">Header image</a></li>
                                            <li><a href="../../elements/headers/slider.html">Header slider</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="icon-list">
                                            <li><a href="../../elements/headers/video.html">Header video</a></li>
                                            <li><a href="../../elements/headers/base.html">Header base</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="menu-right">
                    <div class="menu-custom-area">
                        <a class="btn btn-xs btn-border btn-circle" href="#">Download App</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <header class="header-base">
        <div class="container">
            <h1>Countdown</h1>
            <h2>Template components</h2>
        </div>
    </header>
    <main>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="menu-inner menu-inner-vertical">
                            <ul>
                                <li class="dropdown">
                                    <a href="#">Components</a>
                                    <ul>
                                        <li><a href="../components/buttons.html">Buttons and inputs</a></li>
                                        <li><a href="../components/contact-form.html">Contact form</a></li>
                                        <li><a href="../components/content-box.html">Content box</a></li>
                                        <li><a href="../components/countdown.html">Countdown</a></li>
                                        <li><a href="../components/counter.html">Counter</a></li>
                                        <li><a href="../components/icons.html">Icons</a></li>
                                        <li><a href="../components/image-box.html">Image box</a></li>
                                        <li><a href="../components/inner-menu.html">Inner menu</a></li>
                                        <li><a href="../components/lists.html">Lists</a></li>
                                        <li><a href="../components/map.html">Map</a></li>
                                        <li><a href="../components/media-box.html">Media box</a></li>
                                        <li><a href="../components/progress-bar.html">Progress bar</a></li>
                                        <li><a href="../components/social.html">Social</a></li>
                                        <li><a href="../components/table.html">Table</a></li>
                                        <li><a href="../components/timeline.html">Timeline</a></li>
                                        <li><a href="../components/typography.html">Typography</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Containers</a>
                                    <ul>
                                        <li><a href="../containers/accordion.html">Accordion</a></li>
                                        <li><a href="../containers/album.html">Album</a></li>
                                        <li><a href="../containers/collapse.html">Collapse</a></li>
                                        <li><a href="../containers/fixed-area.html">Fixed area</a></li>
                                        <li><a href="../containers/grid.html">Grid</a></li>
                                        <li><a href="../containers/lightbox.html">Lightbox</a></li>
                                        <li><a href="../containers/masonry.html">Masonry</a></li>
                                        <li><a href="../containers/scroll-box.html">Scroll box</a></li>
                                        <li><a href="../containers/slider.html">Slider</a></li>
                                        <li><a href="../containers/steps.html">Steps</a></li>
                                        <li><a href="../containers/tab.html">Tab</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Sections</a>
                                    <ul>
                                        <li><a href="../sections/base.html">Base</a></li>
                                        <li><a href="../sections/image.html">Image</a></li>
                                        <li><a href="../sections/slider.html">Slider</a></li>
                                        <li><a href="../sections/video.html">Video</a></li>
                                        <li><a href="../sections/block.html">Block</a></li>
                                        <li><a href="../sections/map.html">Map</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Navigation</a>
                                    <ul>
                                        <li><a href="../navs/big-box.html">Big box</a></li>
                                        <li><a href="../navs/classic.html">Classic</a></li>
                                        <li><a href="../navs/classic-transparent.html">Transparent</a></li>
                                        <li><a href="../navs/icon.html">Icon</a></li>
                                        <li><a href="../navs/icon-top.html">Icon top</a></li>
                                        <li><a href="../navs/side.html">Side</a></li>
                                        <li><a href="../navs/side-collapse.html">Side collapse</a></li>
                                        <li><a href="../navs/subtitle.html">Subtitle</a></li>
                                        <li><a href="../navs/top-logo.html">Top logo</a></li>
                                        <li><a href="../navs/classic-dropdown.html">Dropdown types</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Headers</a>
                                    <ul>
                                        <li><a href="../headers/image.html">Image</a></li>
                                        <li><a href="../headers/slider.html">Slider</a></li>
                                        <li><a href="../headers/video.html">Video</a></li>
                                        <li><a href="../headers/base.html">Base</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h4>Countdown vertical</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="countdown countdown-vertical">
                                    <h3>Tickets</h3>
                                    <div data-time="02/21/2020 10:30:00" data-utc-offset="-5">
                                        <div><span class="days text-md">00</span><span>Days</span></div>
                                        <div><span class="hours text-md">00</span><span>Hours</span></div>
                                        <div><span class="minutes text-md">00</span><span>Minutes</span></div>
                                        <div><span class="seconds text-md">00</span><span>Seconds</span></div>
                                    </div>
                                    <p>Deadline</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="countdown countdown-vertical">
                                    <h3>Tickets</h3>
                                    <div data-time="02/21/2020 10:30:00" data-utc-offset="-5">
                                        <div><span class="days text-md">00</span><span>Days</span></div>
                                        <div><span class="hours text-md">00</span><span>Hours</span></div>
                                        <div><span class="minutes text-md">00</span><span>Minutes</span></div>
                                        <div><span class="seconds text-md">00</span><span>Seconds</span></div>
                                    </div>
                                    <p>Deadline</p>
                                </div>
                            </div>
                        </div>
                        <hr class="space-sm" />
                        <h4>Countdown horizontal</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="countdown countdown-horizontal">
                                    <h3>Tickets</h3>
                                    <div data-time="02/21/2020 10:30:00" data-utc-offset="-5">
                                        <div><span class="days text-md">00</span><span>Days</span></div>
                                        <div><span class="hours text-md">00</span><span>Hours</span></div>
                                        <div><span class="minutes text-md">00</span><span>Minutes</span></div>
                                        <div><span class="seconds text-md">00</span><span>Seconds</span></div>
                                    </div>
                                    <p>Deadline</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="countdown countdown-horizontal">
                                    <h3>Tickets</h3>
                                    <div data-time="02/21/2020 10:30:00" data-utc-offset="-5">
                                        <div><span class="days text-md">00</span><span>:</span></div>
                                        <div><span class="hours text-md">00</span><span>:</span></div>
                                        <div><span class="minutes text-md">00</span><span>:</span></div>
                                        <div><span class="seconds text-md">00</span><span>days</span></div>
                                    </div>
                                    <p>Deadline</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space-lg" />
                <div class="cnt-box cnt-call">

                    <div class="caption">
                        <h2>Docs and features</h2>
                        <p>
                            There is much more than what you see here! Visit the documentation to see all the components features and for the implementation instructions.
                        </p>
                        <a href="https://themekit.dev/docs/components/countdown/" class="btn btn-sm btn-circle">Documentation</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Company and team</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Company details and team</a>
                            </li>
                            <li>
                                <a href="#">News and blog</a>
                            </li>
                            <li>
                                <a href="#">Press area</a>
                            </li>
                            <li>
                                <a href="#">Affiliates and marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Help and support</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Help centre</a>
                            </li>
                            <li>
                                <a href="#">Feedbacks</a>
                            </li>
                            <li>
                                <a href="#">Request new features</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Learn more</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Apps stores</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Privacy and terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Follow us</h4>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="linkedin"><i class="icon-linkedin"></i></a>
                        <a class="youtube"><i class="icon-youtube"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© Codrop LTD 2019. Codrop is a powerful Landing Page App Template built with <a target="_blank" href="https://themekit.dev/code/">Themekit</a> by the <a target="_blank" href="https://schiocco.com/">Schiocco</a> Team. </span>
                <span><img src="../../media/logo-light.svg" /></span>
            </div>
        </div>
        <link rel="stylesheet" href="../../themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="../../themekit/scripts/progress.js"></script>
        <script src="../../themekit/scripts/tab-accordion.js"></script>
    </footer>
</body>
</html>
